<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRTqp2_Cp0yOiY5Jm1K9rCtVndIKPJMAg</string>
	<key>GCM_SENDER_ID</key>
	<string>785231191914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatbotapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatbotapp-75733</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbotapp-75733.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785231191914:ios:dad7ff8c7055f03abbcf13</string>
	<key>DATABASE_URL</key>
	<string>https://chatbotapp-75733-default-rtdb.firebaseio.com</string>
</dict>
</plist>